@font-face{
    font-family: "vazir";
    src: url("/src/font/Vazir.woff") format("woff");
}
a{
  text-decoration: none !important;
}
body{
  text-align: right !important;
  direction: rtl !important;
  background-color: #f5f5f5;
  font-family: vazir !important;
  overflow-x: hidden;
}
.nav-link-nav{
  color: #00000099 !important;
  font-size: 14px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.nav-link-nav:hover{
  color: #27226399 !important;
  transition: 1s;
}

.icons-bars{
 cursor: pointer;

}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

.header a {
  color: inherit;
  text-decoration: none;
}
.header .navContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  max-width: 1230px;
  margin: 0 auto;
}

.navToggle {
  display: block;
  background-color: transparent;
  border: none;
  height: 25px;
  width: 35px;
  outline: none;
  cursor: pointer;
  z-index: 5;
}
.navToggle.open span:first-child {
  transform: rotate(45deg) translate(4.4px, 4.4px);
}
.navToggle.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.navToggle.open span:last-child {
  transform: rotate(-45deg) translate(4.4px, -4.4px);
}
.navToggle span {
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  margin-bottom: 4px;
  background-color: rgb(124, 12, 12);
  transition: all 0.3s cubic-bezier(1, 0.13, 0.35, 1.09);
}
.navToggle.open span{
  background:rgb(0, 73, 209);
}

.navToggle span:last-child {
  margin-bottom: 0;
}

.mainNav {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100vh;
  background-color: #152f66;
  padding: 58px 15px;
  z-index: 3;
  transform: translateX(100%);
  transition: transform 0.25s ease;
}
.mainNav.open {
  transform: translateX(0%);
}
.mainNav .mainNavLink {
  display: block;
  padding: 0.71875rem 0;
  text-transform: capitalize;
}
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  height: 0;
  width: 0;
  background-color: #00000045;
  opacity: 0;
  transition: opacity 1s ease 0.1s;
}
.overlay.open {
  opacity: 3;
  width: 100%;
  height: 120%;
}

Button:focus{
  box-shadow: none !important;
}

.nav-link-section3:hover{
  color: white !important;
}

.order-button-img{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  border:none;
  transition: 0.5s ease;
  opacity: 0;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.card-order:hover .img-order{
  opacity: 0.5 !important;
}
.card-order:hover .order-button-img{
  opacity: 1;
  transition: 0.5s ease;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.card-seaction4-custom{
  transform: scale(0.9);
  transition: 0.3s;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.card-seaction4-custom:hover{
  transform: scale(0.85);
  transition: 0.3s;
  overflow: hidden;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  -o-transform: scale(0.85);
}

@media(max-width:995px){
  .card-seaction4-custom{
    width: 350px !important;
    text-align: center !important;
  }
}

.sec7_bg{
  height: 110vh;
  background-color: #1A202C;
}
.img-mobile{
  width: 250px;
}
@media(max-width:1000px){
  .img-mobile{
    width: 150px;
  }
}

.nav-link-footer{
  font-size: 13px;
  font-weight: bold;
}
